.titles {
  color: var(--var-secondary);
  font-family: var(--title-font);
  margin-top: 1.8rem;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.dropdown {
  background-color: var(--var-primary);
}

.logo {
  height: 6rem;
  width: 6rem;
}
